# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/
npm-debug.log

# Python
venv/
__pycache__/
*.pyc

# Build outputs
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Frontend source (only need for backend deployment)
src/
public/
